---
- name: nextcloud app docker directories exist
  file:
    path: '{{ item }}'
    state: directory
  loop:
    - '{{ nextcloud_docker_directory }}'

- name: nextcloud application docker container
  docker_container:
    name: nextcloud-app
    image: 'nextcloud:16'
    pull: true
    # TODO: verify that it works by linking to the db host
    # links: 
    #   - nextcloud
    volumes:
      - '{{ nextcloud_docker_directory }}:/var/www/html:rw'
      - '{{ nextcloud_host_data_directory }}:/var/www/html/data:rw'
    ports:
      - '{{ nextcloud_app_port }}:80'
    env:
      MYSQL_DATABASE: 'nextcloud'
      MYSQL_USER: '{{ nextcloud_db_user }}'
      MYSQL_PASSWORD: '{{ nextcloud_db_user_password }}'
      MYSQL_ROOT_PASSWORD: '{{ nextcloud_db_root_password }}'
      MYSQL_HOST: "{{ nextcloud_db_host | default('127.0.0.1') }}"
      NEXTCLOUD_DATA_DIR: '/var/www/html/data'
      # TODO: Investigate env var NEXTCLOUD_TRUSTED_DOMAIN
      NEXTCLOUD_TRUSTED_DOMAINS: 'nextcloud.{{ nextcloud_domain }}'
    restart_policy: unless-stopped
    memory: '{{ nextcloud_app_memory }}'
    # TODO: Enable these with traefik
    # labels:
    #   traefik.backend: 'nextcloud'
    #   traefik.frontend.rule: 'Host:nextcloud.{{ nextcloud_domain }}'
    #   traefik.enable: '{{ nextcloud_traefik_enabled }}'
    #   traefik.port: '80'
